:root{
    --color-white: #fff;
    --color-accent:#DCE9B1;
    --color-black:#1B1B1B;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.envelope{
    width: 100%;
    font-family: sans-serif;
    font-weight: 400;
    color:var(--color-black);
    font-size: 16px;
}
.container{
    max-width: 1376px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
a{
    color: var(--color-black);
    text-decoration: none;

}
.button{
    border-radius: 28px;
    background-color: var(--color-black);
    color: var(--color-accent);
    border: none;
    padding: 12px 32px;
}



.header{
    margin-top:54px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    color:var(--color-black);
    text-decoration: none;
}

.nav__menu{
    display: flex;
    gap: 24px;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color:var(--color-black);
    text-decoration: none;
}

.header__button-link{
    color: var(--color-black);
    font-size: 14px;
    
}

.header__button{
    background-color: #fff;
    border: 1px solid var(--color-black);
    border-radius: 28px;
    padding: 12px 32px;
    color: var(--color-black);
}

.header__button-secondary{
    background-color: #fff;
    border: 1px solid var(--color-black);
    border-radius: 48px;
    padding: 14px 16px;
}

.welcome__inner{
    display: flex;
}

.welcome__block-left{
    margin-top: 148px;
}

.welcome__block-text{
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.welcome__text{
    font-size: 64px;
}

.welcome__subtext{
    font-size: 14px;
}

.welcome__link{
    color: var(--color-accent);
    font-size: 14px;
}

.welcome__button-secondary{
    padding: 12px 14px;
}

.welcome__buttons{
    margin-top: 40px;
}

.welcome__block-image{

}

.welcome__main-image{
    margin-top: 50px;
    width: 524px;
    height: 834px;
    display: cover;
    border-radius: 24px;
}

.splide{
    height: 167px;
    width: 860px;
    margin-top: 127px;
}

.splide__track{
    margin-right:81px;
}

.swiper__list{
    display: flex;
    gap: 25px;
}

.splide__slide{
    width: 270px;
    height: 176px;
    border-radius: 31px;
    display: cover;
}

.welcome__block-service{
    height: 93px;
    background-color: var(--color-accent);
    margin-top: 28px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.welcome__service-left{
    display: flex;
    gap: 12px;
    margin-left: 32px;
    align-items: center;
}

.welcome__service-span{
    font-size: 16px;
}

.welcome__service-buttons{
    margin-right: 32px;
    gap: 12px;
    display: flex;
}

.welcome__service-button{
    border-radius: 28px;
    background-color: #E2EDBE;
    border: 1px solid #D1DBAF;
    padding: 12px 32px;

}

.welcome__service-link{
    color: #575757;
    font-size: 14px;

}