:root{
    --color-white: #fff;
    --color-accent:#DCE9B1;
    --color-black:#1B1B1B;
}

.text__white{
    color: var(--color-white);
}

.text__black{
    color: var(--color-black);
}

.transparent__white{
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 28px;
}

.transparent__black{
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 28px;
}

.black__fill{
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 28px;
}


/* End of settings */


.header{
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 24%, rgba(27,27,27,1) 94%),
    url('/assets/img/image7.jpg');

    background-size: cover;
    background-position: center;
    padding-top:38px;
    margin: 0 auto;
    height: 590px;
}

.header__inner{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__text-block{
    width: 100%;
    color: var(--color-white);
    padding-top: 144px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__text-title{
    font-size: 64px;
    font-weight: 400;
}

.header__text-span{
    font-size: 16px;
}

.about{
    background-color: var(--color-white);
}

.about__first-image{
    position: relative;
}

.about__first-image::before{
    clip-path: polygon(0% 0%, 73% 0%, 100% 20%, 100% 100%, 0% 100%);
    z-index: 1;
    content: '';
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg, rgba(255,255,255,0) 24%, rgba(27,27,27,1) 94%);
}

.about__image-button{
    z-index: 2;
}

.about__second-image{
    position: relative;
}

.about__second-image::before{
    z-index: 1;
    content: '';
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg, rgba(255,255,255,0) 24%, rgba(27,27,27,1) 94%);
}

.about__image-button2{
    z-index: 2;
}

.profile{
    background-color: #F5F5F5;
    padding: 80px 0px;
}

.profile__inner{
    display: flex;
    justify-content: space-between;
}

.profile__button{
    padding: 8px 12px;
    margin-bottom: 24px;
}

.profile__text{
    font-size: 48px;
}

.profile__item{
    padding: 32px;
    border-radius: 16px;
    background-color: var(--color-white);
    list-style: none;
}

.profile__card-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile__card-top{
    display: flex;
    justify-content: space-between;
    gap: 256px;
}

.profile__card-title{
    font-size: 40px;
    font-weight: 400;
}

.profile__button-link{
    padding: 17px 19px;
    cursor: pointer;
}

.profile__link{
    height: 50px;
}

.profile__card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 40px;
}

.profile__card-author{
    font-size: 18px;
}

.profile__card-paragraph{
    font-size: 18px;
}

.philosophy{
    padding: 95px 0px;
}

.philosophy__text-block{
    text-align: center;
    margin-bottom: 40px;
}
.philosophy__button-main{
    margin-bottom: 24px;
    border-radius: 28px;
    padding: 8px 12px;
}

.philosophy__button-title{
    font-size: 14px;
}

.philosophy__title{
    font-size: 48px;
}

.philosophy__wrapper-title{
    font-size: 48px;
}

.philosophy__text-wrapper{
    gap: 24px;
}

.philosophy__block{
    padding: 32px;
}

.philosophy__image{
    height: 622px;
    width: 657px;
    object-fit: cover
}

.philosophy__swiper{
    height: 622px;
}

.philosophy__card{
    height: 622px;
}