:root{
    --color-white: #fff;
    --color-accent:#DCE9B1;
    --color-black:#1B1B1B;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.envelope{
    width: 100%;
    font-family: sans-serif;
    font-weight: 400;
    color:var(--color-black);
    font-size: 16px;
}
.container{
    max-width: 1376px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
a{
    color: var(--color-black);
    text-decoration: none;

}
.button{
    border-radius: 28px;
    background-color: var(--color-black);
    color: var(--color-accent);
    border: none;
    padding: 12px 32px;
}



.header{
    margin-top:54px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    color:var(--color-black);
    text-decoration: none;
}

.nav__menu{
    display: flex;
    gap: 24px;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color:var(--color-black);
    text-decoration: none;
}

.header__button-link{
    color: var(--color-black);
    font-size: 14px;
    
}

.header__button{
    background-color: #fff;
    border: 1px solid var(--color-black);
    border-radius: 28px;
    padding: 12px 32px;
    color: var(--color-black);
}

.header__button-secondary{
    background-color: #fff;
    border: 1px solid var(--color-black);
    border-radius: 48px;
    padding: 14px 16px;
}

.welcome__inner{
    display: flex;
}

.welcome__block-left{
    margin-top: 148px;
}

.welcome__block-text{
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.welcome__text{
    font-size: 64px;
}

.welcome__subtext{
    font-size: 14px;
}

.welcome__link{
    color: var(--color-accent);
    font-size: 14px;
}

.welcome__button-secondary{
    padding: 12px 14px;
}

.welcome__buttons{
    margin-top: 40px;
}


.welcome__main-image{
    margin-top: 50px;
    width: 524px;
    height: 834px;
    object-fit: cover;
    border-radius: 24px;
}

.splide{
    height: 167px;
    width: 860px;
    margin-top: 127px;
}

.splide__track{
    margin-right:81px;
}

.swiper__list{
    display: flex;
    gap: 25px;
}

.splide__slide{
    width: 270px;
    height: 176px;
    border-radius: 31px;
    object-fit: cover;
}

.welcome__block-service{
    height: 93px;
    background-color: var(--color-accent);
    margin-top: 28px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.welcome__block-container{
    background-color: var(--color-accent);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.welcome__service-left{
    display: flex;
    gap: 12px;
    margin-left: 32px;
    align-items: center;
}

.welcome__service-span{
    font-size: 16px;
}

.welcome__service-buttons{
    margin-right: 32px;
    gap: 12px;
    display: flex;
}

.welcome__service-button{
    border-radius: 28px;
    background-color: #E2EDBE;
    border: 1px solid #D1DBAF;
    padding: 12px 32px;

}

.welcome__service-link{
    color: #575757;
    font-size: 14px;

}

.section__about{
    background-color: #F5F5F5;
    padding: 77px 0px;
}

.about__button{
    border-radius: 28px;
    background-color: #fff;
    border: 1px solid var(--color-black);
    padding: 8px 12px;
    width: 120px;
}

.about__link{
    color: var(--color-black);
    font-size: 14px;
    
}

.about__block-text{
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 202px;
}

.about__text{
    font-size: 44px;
}

.about__image-button{
    border-radius: 28px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid var(--color-white);
    padding: 8px 12px;
    width: 120px;
    position: absolute;
    left: 24px;
    top: 10px;
}

.about__image-button2{
    border-radius: 28px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid var(--color-white);
    padding: 8px 12px;
    width: 120px;
    position: absolute;
    left: 24px;
    top: 10px;
}

.about__image-link{
    color: var(--color-white);
    font-size: 14px;
}

.about__image-link2{
    color: var(--color-white);
    font-size: 14px;
}

.about__first-image{
    position: relative;

}

.about__second-image{
    position: relative;

}

.about__block-span{
    font-size: 22px;
    margin-left: 24px;
    margin-right: 19px;

}

.about__block-img{
    display: flex;

    
}

.about__first-img{
    width: 407px;
    height: 440px;
    border-radius: 24px;
    object-fit: cover;
    clip-path: polygon(0% 0%, 73% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.about__second-img{
    border-radius: 20px;
    width: 507px;
    height: 440px;
    object-fit: cover;
}

.about__arrows{
    margin-top: 260px;
}

.about__arrow-left{
    border-radius: 48px;
    padding: 19px 19px;
    border: 1px solid var(--color-black);
    background-color: #fff;
}

.about__arrow-right{
    border-radius: 48px;
    padding: 19px 19px;
    border: 1px solid var(--color-black);
    background-color: #fff;
}

.work{
    margin: 48px 0px;
}

.work__text{
    font-size: 40px;
}

.work__button{
    border-radius: 28px;
    background-color: var(--color-black);
    padding: 12px 32px;
    border: none;
}

.work__button-first{
    border-radius: 28px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 8px 12px;
}

.work__link-firs{
    color: var(--color-black);
    font-size: 14px;
}

.work__link{
    color: var(--color-white);
    font-size: 14px;

}

.work__button-arrow{
    padding: 12px 14px;
    border: none;
    border-radius: 48px;
    background-color: var(--color-black);
}

.work__block-text{
    margin-top: 24px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    
}


.work__buttons{
    display: flex;
    align-items: end;
}

.work__block-img{
    margin-top: 40px;
    display: flex;
    gap: 24px;
}

.work__image-first{
    position: relative;
}

.work__image-image{
    width: 588px;
    height: 732px;
    object-fit: cover;
    border-radius: 24px;
    position: relative;
}

.work__image-second{
    position: relative;
}   

.work__image-button{
    position: absolute;
    z-index: 999;
    padding: 8px 12px;
    border: 1px solid var(--color-white);
    background-color: transparent;
    background-repeat: no-repeat;
    right: 36px;
    top: 32px;
}

.work__image-span{
    color: var(--color-white);
    font-size: 14px;
}

.work__image-block{
    position: absolute;
    top: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 24px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 14px;
}

.work__image-wrapper{
    display: flex;
    justify-content: center;
}

.work__image-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right:168px;

}

.work__image-title{
    color: var(--color-white);
}

.work__image-link{
    border: none;
    background-color: var(--color-black);
    padding: 17px 21px;
    border-radius: 48px;
}

.work__image-subtitle{
    font-size: 14px;
    color: var(--color-black);
}


.service{
    padding: 80px 0px 80px 0px;
    background-color: #F5F5F5;
}

.service__button-title{
    border-radius: 28px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 8px 12px;
    margin-bottom: 24px;
}

.service__title-link{
    color: var(--color-black);
    font-size: 14px;
}

.service__block-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.service__buttons{
    display: flex;
    align-items: end;
    gap: 12px;
}

.service__button{
    border-radius: 28px;
    background-color: var(--color-black);
    padding: 12px 32px;
    border: none;
}

.service__link{
    color: var(--color-white);
    font-size: 14px;
}

.service__input{
    font-size: 16px;
    padding: 10px 133px 10px 12px;
    border-radius: 36px;
    border: 1px solid #EBEBEB;
}

.service__button-arrow{
    padding: 12px 14px;
    border: none;
    border-radius: 48px;
    background-color: var(--color-black);
}

.service__text{
    font-size: 40px;
}

.service__buttons-wrapper{
    display: flex;
}


.service__event{
    display: flex;
    justify-content: space-between;
}

.service__event-paragraph{
    font-size: 18px;
}

.service__event-block{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.service__event-button{
    display: flex;
    gap: 8px;
}

.service__event-title{
    font-size: 18px;
}

.service__button-tag{
    border-radius: 28px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 8px 12px;
}

.service__button-more{
    padding: 8px 12px;
    border-radius: 28px;
    background-color: var(--color-black);

}

.service__link-more{
    font-size: 14px;
    color: var(--color-white);
}

.service__images{
    display: flex;
    gap: 14px;
    justify-content: end;
    margin-top: 64px;
    margin-bottom: 40px;
}

.service__img{
    height: 473px;
    width: 403px;
    object-fit: cover;
    border-radius: 24px;
}

.service__event-white{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
}

.event-secondary{
    margin-right: 135px;
}

.white-secondary{
    margin-bottom: 0px;
}

.testimonials{
    margin-bottom: 63px;
}

.testimonials__header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 64px 0px 40px 0px;
}

.testimonials__button{
    border-radius: 28px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 8px 12px;
}

.testimonials__button-link{
    color: var(--color-black);
    font-size: 14px;
}

.testimonials__text{
    font-size: 40px;
    font-weight: 500;
}

.testimonials-slider {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
}

.testimonials__text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.swiper {
    width: 100%;
    height: 434px; 
}

.swiper-slide{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 434px;
    background: #DCE9B1;
    border-radius: 15px;
    overflow: hidden;
}

.testimonials__card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 434px;
    background: #DCE9B1;
    border-radius: 15px;
    overflow: hidden;
}

.testimonials__text-block{
    width: 60%;
    padding: 57px 0px 57px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials__title{
    font-size: 32px;
    font-weight: 500;
}

.testimonials__paragraph{
    font-size: 14px;
}

.testimonials__creator {
    font-weight: bold;
}

.testimonials__image{
    width: 586px;
    height: 434px;
    object-fit: cover;
}

.insight{
    margin-bottom: 99px;
}

.insight__button-title{
    border-radius: 28px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 8px 12px;
}

.insight__buttons{
    display: flex;
}

.insight__button-link{
    color: var(--color-black);
    text-decoration: none;
}

.insight__block-text{
    margin: 12px 0px 40px 0px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.insight__text{
    font-size: 40px;
    font-weight: 500;
}

.insight__button{
    display: flex;
}

.insight__button{
    border-radius: 28px;
    background-color: var(--color-black);
    padding: 12px 32px;
    border: none;
}

.insight__link{
    color: var(--color-white);
    font-size: 14px;
}

.insight__button-arrow{
    padding: 12px 14px;
    border: none;
    border-radius: 48px;
    background-color: var(--color-black);
}

.insight__cards{
    display: flex;
    gap: 24px;
}

.insight__item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.insight__image{
    width: 444px;
    height: 316px;
    object-fit: cover;
    border-radius: 24px;
}

.insight__text{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.insight__card-title{
    font-size: 24px;
    font-weight: 500;
}

.insght__card-paragraph{
    font-size: 14px;
}